In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import psycopg2
from sqlalchemy import create_engine
from decimal import Decimal

In [21]:
stores_df = pd.read_csv('datasets/Stores.csv')

In [ ]:
stores_df

In [ ]:
stores_df.info()

In [ ]:
stores_df.describe()

In [ ]:
stores_df[['Country','State','Open Date']].describe()

In [ ]:
stores_df.isna().sum()

In [ ]:
stores_df[stores_df['Square Meters'].isna()]

In [ ]:
stores_df['Open Date'].unique()

In [22]:
stores_df['Formatted Open Date'] = pd.to_datetime(stores_df['Open Date'], format='%m/%d/%Y')
stores_df['Formatted Open Date']

0    2008-01-01
1    2008-01-12
2    2012-01-07
3    2010-01-01
4    2015-12-09
        ...
62   2008-03-06
63   2010-01-01
64   2012-01-01
65   2014-01-01
66   2010-01-01
Name: Formatted Open Date, Length: 67, dtype: datetime64[ns]

In [24]:
stores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StoreKey             67 non-null     int64
 1   Country              67 non-null     object
 2   State                67 non-null     object
 3   Square Meters        66 non-null     float64
 4   Open Date            67 non-null     object
 5   Formatted Open Date  67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.3+ KB

In [16]:
def get_connection():

    user=os.environ['PG_USER']
    password=os.environ['PG_PASSWORD']
    host=os.environ['PG_HOST']
    port=os.environ['PG_PORT']
    database=os.environ['PG_DBNAME']
    
    conn_string = f'postgresql://{user}:{password}@{host}:{port}/{database}'
    db = create_engine(conn_string)
    
    return db.connect()

In [ ]:
#create_sql = create table cp2_stores(store_key INT, country VARCHAR(255) NOT NULL, country_state VARCHAR(255) NOT NULL, sq_meters DECIMAL, open_date DATE NOT NULL, PRIMARY KEY(store_key))

stores_df[['StoreKey','Country','State','Square Meters','Formatted Open Date']].to_sql('cp2_stores', get_connection(), if_exists='replace', index=False)

connection.close()

In [2]:
products_df = pd.read_csv('datasets/Products.csv')

In [10]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [12]:
products_df.duplicated().unique()

array([False])

In [18]:
len(products_df['ProductKey'].unique())

2517

In [19]:
products_df['CategoryKey'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [21]:
products_df['SubcategoryKey'].unique()

array([101, 104, 106, 201, 202, 203, 205, 301, 303, 304, 305, 306, 308,
       401, 402, 405, 406, 501, 503, 504, 602, 701, 702, 801, 802, 803,
       804, 805, 806, 807, 808, 505])

In [37]:
products_df['Unit Cost USD'].str.strip()

0        $6.62
1        $6.62
2        $7.40
3       $11.00
4       $11.00
         ...
2512    $43.07
2513    $43.07
2514     $1.71
2515     $1.71
2516     $1.71
Name: Unit Cost USD, Length: 2517, dtype: object

In [27]:
products_df['Unit Cost USD'].str.startswith('$').sum()

np.int64(2517)

In [ ]:
#TODO: Unit Cost USD: Remove $ and trim the spaces beore storing as decimal

In [38]:
products_df['Unit Cost USD'].unique()

array(['$6.62 ', '$7.40 ', '$11.00 ', '$30.58 ', '$35.72 ', '$50.56 ',
       '$61.62 ', '$91.93 ', '$84.49 ', '$48.92 ', '$99.14 ', '$106.69 ',
       '$76.45 ', '$91.95 ', '$98.07 ', '$79.53 ', '$83.24 ', '$13.10 ',
       '$22.05 ', '$17.45 ', '$18.65 ', '$45.98 ', '$49.69 ', '$34.36 ',
       '$55.18 ', '$52.88 ', '$61.16 ', '$82.83 ', '$86.67 ', '$61.17 ',
       '$128.76 ', '$73.11 ', '$101.97 ', '$160.93 ', '$229.93 ',
       '$152.94 ', '$960.82 ', '$392.60 ', '$216.12 ', '$505.85 ',
       '$527.53 ', '$389.26 ', '$54.72 ', '$35.18 ', '$59.32 ', '$50.13 ',
       '$45.53 ', '$55.99 ', '$45.83 ', '$43.04 ', '$53.76 ', '$58.36 ',
       '$29.01 ', '$33.65 ', '$275.46 ', '$321.44 ', '$152.44 ',
       '$293.85 ', '$137.60 ', '$152.90 ', '$261.66 ', '$252.47 ',
       '$316.85 ', '$264.72 ', '$367.43 ', '$266.26 ', '$167.73 ',
       '$294.54 ', '$208.52 ', '$197.28 ', '$224.87 ', '$155.89 ',
       '$183.49 ', '$101.46 ', '$243.27 ', '$244.72 ', '$183.54 ',
       '$229.47 ', '$142.24 ', '$132.05 ', '$137.14 ', '$157.54 ',
       '$111.65 ', '$162.64 ', '$330.99 ', '$287.92 ', '$151.30 ',
       '$169.69 ', '$397.25 ', '$404.63 ', '$376.63 ', '$444.69 ',
       '$364.12 ', '$186.60 ', '$303.05 ', '$269.48 ', '$348.58 ',
       '$195.26 ', '$203.42 ', '$171.30 ', '$163.15 ', '$196.23 ',
       '$195.24 ', '$185.32 ', '$210.11 ', '$168.24 ', '$166.20 ',
       '$187.62 ', '$193.74 ', '$198.32 ', '$430.38 ', '$321.05 ',
       '$137.63 ', '$188.13 ', '$254.86 ', '$215.68 ', '$275.87 ',
       '$304.48 ', '$257.06 ', '$112.14 ', '$117.21 ', '$160.49 ',
       '$271.35 ', '$205.09 ', '$224.97 ', '$119.11 ', '$128.30 ',
       '$63.92 ', '$82.32 ', '$50.47 ', '$65.77 ', '$30.08 ', '$24.98 ',
       '$70.87 ', '$22.86 ', '$29.82 ', '$760.38 ', '$827.97 ',
       '$459.40 ', '$116.75 ', '$254.40 ', '$152.08 ', '$99.06 ',
       '$115.43 ', '$87.37 ', '$55.57 ', '$137.50 ', '$83.16 ', '$62.95 ',
       '$73.12 ', '$77.72 ', '$40.28 ', '$69.25 ', '$72.56 ', '$44.36 ',
       '$46.39 ', '$39.77 ', '$53.34 ', '$55.64 ', '$62.54 ', '$73.58 ',
       '$72.66 ', '$68.52 ', '$54.26 ', '$75.54 ', '$78.19 ', '$82.17 ',
       '$75.87 ', '$52.00 ', '$74.96 ', '$67.60 ', '$86.45 ', '$90.13 ',
       '$6.60 ', '$20.34 ', '$9.17 ', '$7.59 ', '$6.88 ', '$4.37 ',
       '$5.86 ', '$4.84 ', '$5.29 ', '$15.24 ', '$13.00 ', '$13.75 ',
       '$12.83 ', '$6.07 ', '$7.09 ', '$8.62 ', '$11.23 ', '$10.99 ',
       '$13.22 ', '$15.27 ', '$10.15 ', '$7.90 ', '$9.13 ', '$11.68 ',
       '$26.97 ', '$8.11 ', '$11.91 ', '$18.35 ', '$13.71 ', '$7.95 ',
       '$76.50 ', '$13.77 ', '$23.45 ', '$32.19 ', '$10.69 ', '$43.06 ',
       '$6.63 ', '$49.70 ', '$25.49 ', '$21.28 ', '$22.43 ', '$38.74 ',
       '$44.10 ', '$59.31 ', '$0.48 ', '$1.01 ', '$17.33 ', '$28.04 ',
       '$36.33 ', '$21.41 ', '$66.26 ', '$68.06 ', '$75.88 ', '$88.79 ',
       '$96.08 ', '$143.26 ', '$84.84 ', '$86.68 ', '$85.95 ', '$90.55 ',
       '$91.05 ', '$76.53 ', '$207.74 ', '$194.82 ', '$143.48 ',
       '$155.43 ', '$141.47 ', '$211.05 ', '$188.19 ', '$144.40 ',
       '$164.63 ', '$214.03 ', '$139.80 ', '$222.98 ', '$152.68 ',
       '$209.39 ', '$157.73 ', '$148.08 ', '$208.40 ', '$144.52 ',
       '$138.88 ', '$150.84 ', '$213.70 ', '$153.59 ', '$217.68 ',
       '$146.70 ', '$159.20 ', '$180.22 ', '$275.92 ', '$260.28 ',
       '$291.09 ', '$301.21 ', '$215.15 ', '$220.25 ', '$209.54 ',
       '$209.03 ', '$331.32 ', '$330.66 ', '$324.69 ', '$530.11 ',
       '$523.49 ', '$516.86 ', '$503.61 ', '$409.28 ', '$404.68 ',
       '$395.48 ', '$390.88 ', '$91.77 ', '$84.12 ', '$81.57 ',
       '$285.12 ', '$255.68 ', '$293.39 ', '$305.81 ', '$230.44 ',
       '$245.74 ', '$219.74 ', '$234.52 ', '$341.26 ', '$327.34 ',
       '$536.74 ', '$506.92 ', '$496.98 ', '$408.36 ', '$403.76 ',
       '$393.64 ', '$385.37 ', '$95.85 ', '$90.75 ', '$85.65 ', '$80.55 ',
       '$10.19 ', '$20.39 ', '$18.86 ', '$35.68 ', '$25.47 ', '$3.54 ',
       '$26.58 ', '$7.64 ', '$12.74 ', '$39.76 ', '$121.45 ', '$197.14 ',
       '$11.50 ', '$43.69 ', '$31.27 ', '$14.28 ', '$94.27 ', '$5.09 ',
       '$8.66 ', '$10.57 ', '$12.41 ', '$13.33 ', '$15.17 ', '$16.55 ',
       '$17.93 ', '$18.39 ', '$14.24 ', '$15.57 ', '$16.56 ', '$7.81 ',
       '$18.48 ', '$20.15 ', '$21.82 ', '$7.23 ', '$8.16 ', '$13.92 ',
       '$10.27 ', '$10.12 ', '$10.58 ', '$9.66 ', '$175.27 ', '$195.15 ',
       '$105.77 ', '$123.24 ', '$132.90 ', '$117.73 ', '$137.96 ',
       '$141.64 ', '$134.74 ', '$118.65 ', '$91.51 ', '$133.36 ',
       '$138.42 ', '$86.91 ', '$91.97 ', '$105.31 ', '$109.91 ',
       '$123.70 ', '$95.65 ', '$132.44 ', '$122.78 ', '$142.56 ',
       '$125.90 ', '$151.76 ', '$133.19 ', '$109.45 ', '$100.06 ',
       '$117.27 ', '$122.32 ', '$128.88 ', '$131.87 ', '$137.04 ',
       '$121.93 ', '$26.21 ', '$26.67 ', '$27.13 ', '$27.59 ', '$28.05 ',
       '$8.27 ', '$6.39 ', '$7.58 ', '$5.82 ', '$26.62 ', '$73.57 ',
       '$82.77 ', '$56.08 ', '$86.14 ', '$2.80 ', '$3.56 ', '$3.17 ',
       '$4.13 ', '$2.54 ', '$5.60 ', '$2.75 ', '$3.16 ', '$4.08 ',
       '$5.63 ', '$32.25 ', '$28.55 ', '$25.75 ', '$36.70 ', '$33.32 ',
       '$11.62 ', '$36.11 ', '$40.93 ', '$33.09 ', '$28.50 ', '$25.77 ',
       '$34.75 ', '$43.60 ', '$33.75 ', '$16.00 ', '$45.87 ', '$23.86 ',
       '$198.39 ', '$24.83 ', '$15.64 ', '$21.92 ', '$13.26 ', '$16.31 ',
       '$878.66 ', '$914.67 ', '$836.03 ', '$815.22 ', '$509.32 ',
       '$878.96 ', '$915.08 ', '$836.45 ', '$815.68 ', '$509.78 ',
       '$1,060.22 ', '$413.42 ', '$226.71 ', '$142.75 ', '$66.27 ',
       '$220.64 ', '$71.37 ', '$50.98 ', '$48.43 ', '$488.70 ',
       '$403.53 ', '$363.75 ', '$258.99 ', '$131.28 ', '$546.68 ',
       '$343.05 ', '$204.64 ', '$83.10 ', '$75.96 ', '$66.23 ',
       '$210.72 ', '$123.47 ', '$105.76 ', '$40.76 ', '$15.29 ',
       '$211.53 ', '$197.74 ', '$183.94 ', '$101.96 ', '$18.78 ',
       '$34.03 ', '$13.25 ', '$16.77 ', '$14.83 ', '$22.94 ', '$71.44 ',
       '$15.80 ', '$96.57 ', '$160.95 ', '$183.95 ', '$1.50 ', '$12.09 ',
       '$2.42 ', '$2.07 ', '$43.07 ', '$1.71 '], dtype=object)

In [46]:
products_df['Brand'].str.len().unique()

array([ 7, 20, 17, 15, 16,  8,  9, 13])

In [47]:
products_df['Color'].str.len().unique()

array([ 6,  4,  5,  3, 11])

In [4]:
for x in ['Unit Price USD', 'Unit Cost USD']:
    products_df['t' + x] = products_df[x].apply(lambda x: x[1:].strip().replace(',','')).astype(float)

In [5]:
products_df

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,tUnit Price USD,tUnit Cost USD
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio,12.99,6.62
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio,12.99,6.62
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio,14.52,7.40
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio,21.57,11.00
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio,21.57,11.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones,129.99,43.07
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones,129.99,43.07
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones,3.35,1.71
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones,3.35,1.71
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones,3.35,1.71

In [6]:
products_df.isna().sum()

ProductKey         0
Product Name       0
Brand              0
Color              0
Unit Cost USD      0
Unit Price USD     0
SubcategoryKey     0
Subcategory        0
CategoryKey        0
Category           0
tUnit Price USD    0
tUnit Cost USD     0
dtype: int64

In [10]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductKey       2517 non-null   int64
 1   Product Name     2517 non-null   object
 2   Brand            2517 non-null   object
 3   Color            2517 non-null   object
 4   Unit Cost USD    2517 non-null   object
 5   Unit Price USD   2517 non-null   object
 6   SubcategoryKey   2517 non-null   int64
 7   Subcategory      2517 non-null   object
 8   CategoryKey      2517 non-null   int64
 9   Category         2517 non-null   object
 10  tUnit Price USD  2517 non-null   float64
 11  tUnit Cost USD   2517 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 236.1+ KB

In [15]:
#create table cp2_products(product_key INT, product_name VARCHAR(255) NOT NULL, brand VARCHAR(255) NOT NULL, color varchar(255) not null, subcategory_key integer not null, subcategory varchar(255) not null, category_key integer not null, category varchar(255) not null, unit_price DECIMAL not null, unit_cost decimal not null, PRIMARY KEY(product_key))

len(products_df['ProductKey'].unique())

2517

In [19]:

products_df[['ProductKey','Product Name','Brand','Color','SubcategoryKey','Subcategory','CategoryKey','Category','tUnit Price USD','tUnit Cost USD']].to_sql('cp2_products', get_connection(), if_exists='replace', index=False)

517