In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import psycopg2
from sqlalchemy import create_engine
from decimal import Decimal

In [2]:
def get_connection():

    user=os.environ['PG_USER']
    password=os.environ['PG_PASSWORD']
    host=os.environ['PG_HOST']
    port=os.environ['PG_PORT']
    database=os.environ['PG_DBNAME']
    
    conn_string = f'postgresql://{user}:{password}@{host}:{port}/{database}'
    db = create_engine(conn_string)
    
    return db.connect()

In [4]:
exchange_rates_df = pd.read_csv('datasets/Exchange_Rates.csv', encoding='unicode_escape')

In [6]:
exchange_rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [8]:
exchange_rates_df.duplicated().unique()

array([False])

In [9]:
exchange_rates_df

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [12]:
exchange_rates_df['fDate'] = pd.to_datetime(exchange_rates_df['Date'], format='%m/%d/%Y')

In [13]:
exchange_rates_df

            Date Currency  Exchange      fDate
0       1/1/2015      USD    1.0000 2015-01-01
1       1/1/2015      CAD    1.1583 2015-01-01
2       1/1/2015      AUD    1.2214 2015-01-01
3       1/1/2015      EUR    0.8237 2015-01-01
4       1/1/2015      GBP    0.6415 2015-01-01
...          ...      ...       ...        ...
11210  2/20/2021      USD    1.0000 2021-02-20
11211  2/20/2021      CAD    1.2610 2021-02-20
11212  2/20/2021      AUD    1.2723 2021-02-20
11213  2/20/2021      EUR    0.8238 2021-02-20
11214  2/20/2021      GBP    0.7126 2021-02-20

[11215 rows x 4 columns]

In [16]:
#create table cp2_exchange_rate(rate_date DATE NOT NULL, currency varchar(3) NOT NULL, exchange decimal NOT NULL)

exchange_rates_df[['fDate','Currency','Exchange']].to_sql('cp2_exchange_rate', get_connection(), if_exists='replace', index=False)

215