In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import psycopg2
from sqlalchemy import create_engine
from decimal import Decimal

In [2]:
def get_connection():

    user=os.environ['PG_USER']
    password=os.environ['PG_PASSWORD']
    host=os.environ['PG_HOST']
    port=os.environ['PG_PORT']
    database=os.environ['PG_DBNAME']
    
    conn_string = f'postgresql://{user}:{password}@{host}:{port}/{database}'
    db = create_engine(conn_string)
    
    return db.connect()

In [3]:
sales_df = pd.read_csv('datasets/Sales.csv')

In [5]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [7]:
sales_df.duplicated().unique()

array([False])

In [11]:
sales_df.loc[sales_df['StoreKey'] == 0]['Delivery Date'].isna().count()

np.int64(13165)

In [15]:
sales_df.loc[sales_df['StoreKey'] != 0]['Delivery Date'].isna().count()

np.int64(49719)

In [16]:
sales_df

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2/20/2021,NaN,1216913,43,632,3,USD
62880,2243031,1,2/20/2021,2/24/2021,511229,0,98,4,EUR
62881,2243032,1,2/20/2021,2/23/2021,331277,0,1613,2,CAD
62882,2243032,2,2/20/2021,2/23/2021,331277,0,1717,2,CAD
62883,2243032,3,2/20/2021,2/23/2021,331277,0,464,7,CAD